html { 
    font-family: 'liga_roboto_monoregular';
}

body {
    /* neccessary for footer ----------- */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* --------------------------------- */
    max-width: 950px;
}

header {
    text-align: center;
}

h1 {
    font-family: 'karmatic_arcaderegular';
}

section {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;
}

input {
    flex: 1;
}

details {
    flex: 1;
}

button {
    font-family: inherit;
    font-weight: bold;
    flex: 1;
    padding: 3rem;
}

pre {
    flex: 1;
    text-align: center;
    /* height: 34rem; */
    font-size: 1.6rem;
}

footer {
    text-align: center;
    background: rgb(246, 248, 250);
    /* 
    pins footer at bottom of flex container and 
    expands it to full width of document 
    */
    margin: -2rem calc(50% - 50vw);
    margin-top: auto;
}

span {
    display: block;
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    transform: scale(0.5);
    animation: scaleEmoji 2s infinite alternate;
}

@keyframes scaleEmoji {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
